<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <title>Builtin API</title>
</head>

<body>
    <h1>Welcome to the bots builtin API</h1>
    <ul>
      <li>
        <a href="/assets">assets</a>
      </li>
      <li>
        <a href="/commands">commands</a>
      </li>
      <li>
        <a href="/metrics">metrics</a>
      </li>
    </ul>
</body>

</html>