[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "*"
discord-py="*"
coloredlogs="*"
pyyaml = "*"
python-dotenv = "*"
dictor = "*"
sentry-sdk = "*"
psutil = "*"
aiohttp-jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
